.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #242526; /* Adjust the background color as needed */
  z-index: 1000; /* Adjust the z-index if needed */
}

.fixed {
  position: fixed;
}

.nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo a {
  color: #f2f2f2;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
}

.wrapper .navLinks {
  display: flex;
  align-items: center;
}

.navLinks li {
  list-style: none;
}

.navLinks li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.navLinks li a:hover {
  background: #3a3b3c;
}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.menuBtn {
  display: none;
}

.profileImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .wrapper .btn {
    display: block;
  }

  .wrapper .navLinks {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    right: -100%;
    background: #242526;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }

  .menuBtn:checked ~ .navLinks {
    right: 0;
  }

  .menuBtn:checked ~ .btn.menuBtn {
    display: none;
  }

  .navLinks li {
    margin: 15px 0;
  }

  .navLinks li a {
    padding: 0 20px;
    font-size: 20px;
  }
}
